<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration >
<settings >
<setting name="cacheEnable" value="true"/>
<setting name="lazyLoadingEnabled" value="true"></setting>
</settings>

<typeAliases>
	<typeAlias alias ="User" type="com.hearthealth.run.bo.User" />
</typeAliases>

<mappers>
	<mapper resource="com/hearthealth/run/account/AccountMapper/xml" />
</mappers>

</configuration>